doctype html
html(lang='en')
  head
    title Parking control
    style
      include style.css
  body
    .container.table-container
      h1.header Parking settings
      if errorMessage
        .alert= errorMessage
      a.link(href= logoutUrl) Log out
      table
        tr
          th First name
          th Last name
          th Email
          th Confirmed
          th Free to borrow
          th Occupied
          th Parking
          th Place
          th Edit
          th Return
          th Delete
        each user, index in users
          form(method='get')
            input(type='hidden' name='id' value=user._id)
            tr
              td=user.firstName
              td=user.lastName
              td=user.email
              td=user.isEmailConfirmed
              td=user.freeToBorrow
              td=!!user.borrowerId
              td
                input.edit(type='text' name='parkingName' value= user.parkingName)
              td
                input.edit.place(type='text' name='parkingPlaceNumber' value= user.parkingPlaceNumber)
              td
                button(type='submit' formaction='/admin/settings/edit') Edit
              td
                button(type='submit' formaction='/admin/settings/return') Return
              td
                button(type='submit' formaction='/admin/settings/delete') Delete
      